<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div class="update">
      <button mat-icon-button (click)="editable = true">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="delete">
      <button mat-icon-button (click)="deleteComment(comment.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="editable"><input type="text" (keydown.enter)="updateComment(comment)" [(ngModel)]="comment.body"></p>
    <p *ngIf="!editable">{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="disLikeComment()">
      <mat-icon matBadge="{{ disLikes().length }}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="disLikes().length === 0" aria-label="DisLike">thumb_down</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu1">Dislikes</button>
    <mat-menu #menu1="matMenu" yPosition="above">
      <div *ngFor="let dislike of disLikes()" mat-menu-item>{{dislike.user.userName}}</div>
    </mat-menu>
    <button mat-icon-button color="primary" (click)="likeComment()">
      <mat-icon matBadge="{{ likes().length }}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likes().length === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu2">Likes</button>
    <mat-menu #menu2="matMenu" yPosition="above">
      <div *ngFor="let like of likes()" mat-menu-item>{{like.user.userName}}</div>
    </mat-menu>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>