<mat-card class="main-content align-center">
    <form name="postForm" #postForm="ngForm" class="main-content">
        <mat-form-field>
            <input name="email" [(ngModel)]="email" #body="ngModel" matInput placeholder="Email" required
                pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}">
            <div [hidden]="body.valid || body.untouched" class="alert alert-danger">
                Invalid email
            </div>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button ngbAutofocus mat-raised-button color="primary" (click)="share()">
            Save
        </button>
        <button mat-raised-button (click)="close()">
            Back
        </button>
    </div>
</mat-card>