<mat-card [ngClass]="{ 'post-with-comments': showComments }">
  <mat-card-header>
    <img mat-card-avatar src="{{ post.author.avatar }}" alt="Avatar" />
    <mat-card-title>{{ post.author.userName }}</mat-card-title>
    <div class="date">{{ post.createdAt | date: "d/M/yy, h:mm a" }}</div>
    <div class="update">
      <button mat-icon-button (click)="openEditPost(post.id)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="delete">
      <button mat-icon-button (click)="deletePost(post.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{ post.previewImage }}" alt="Photo" />
  <mat-card-content>
    <p>{{ post.body }}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="disLikePost()">
      <mat-icon matBadge="{{ disLikes().length }}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="disLikes().length === 0" aria-label="DisLike">thumb_down</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu1">Dislikes</button>
    <mat-menu #menu1="matMenu" yPosition="above">
      <div *ngFor="let dislike of disLikes()" mat-menu-item>{{dislike.user.userName}}</div>
    </mat-menu>
    <button mat-icon-button color="primary" (click)="likePost()">
      <mat-icon matBadge="{{ likes().length }}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likes().length === 0" aria-label="Like">
        favorite</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu2">Likes</button>
    <mat-menu #menu2="matMenu" yPosition="above">
      <div *ngFor="let like of likes()" mat-menu-item>{{like.user.userName}}</div>
    </mat-menu>
    <button mat-icon-button color="accent" (click)="openSharePost(post.id)">
      <mat-icon aria-label=" Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)="toggleComments()">
      <mat-icon matBadge="{{ post.comments.length }}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{ post.comments.length }} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment"
      (commentDeleted)="onCommentDeleted(_comment)"></app-comment>
  </div>
</mat-card>