<mat-card class="main-content align-center">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <div class="image-container" (click)="file.click()">
        <input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
        <img mat-card-image class="post-image" src="{{post.previewImage}}" alt="Here should be an image">
        <div class="img-text">
            Upload
        </div>

    </div>
    <form name="postForm" #postForm="ngForm" class="main-content">
        <mat-form-field>
            <input name="body" [(ngModel)]="post.body" #body="ngModel" matInput placeholder="Body">
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="saveNewInfo()">
            Save
        </button>
        <button mat-raised-button (click)="close()">
            Back
        </button>
    </div>
</mat-card>